body {
  height: 100%;
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(#2c3e50, #4ca1af); */
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  height: 100%;
}
/* html{
  height: 100%;
} */
.codemirror-text{
  text-align: left;
}
 input::-webkit-file-upload-button{
  background: transparent;
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  border: 1.5px solid black;
  color: black;
  font-weight: bold;
  border-radius: 8px;
}

input[type="file"] :focus{
  outline: none;
}

#p_wrap {
  white-space: pre-line;
}

.container {
  text-align: center;
}

#file-to-display {
  text-align: initial;
  margin-right: 20%;
  text-align: initial;
  margin-left: 25%;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 10px;
  height: 400px;
  overflow-y: scroll;
}

.nav-header {
  display: flex;
  justify-content: space-around;
  height: 70px;
  background-color: #63AA9C;
  align-items: center;
}

.nav-header>a {
  text-decoration: none;
  color: #3e3d3d;
  font-size: 22px;
  text-transform: capitalize;
}

.nav-header>a:hover {
  color: #c4cfd6;
}

.prettify-link{
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

.CodeMirror {
  float: left;
  width: 50%;
  border: 1px solid black;
}
.page-not-found{
  margin-top:15%;
}
@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }
  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
  .login-div {}
  .login-section {
    margin: 30px;
  }
}